[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
whitenoise = "*"
django = "*"
django-cors-headers = "*"
django-defender = "*"
pillow = "*"
django-browser-reload = "*"

[dev-packages]

[requires]
python_version = "3.12"
