{% extends 'base.html' %}
{% block head %}
    <title>Vote for {{ headline.title }}</title>
{% endblock %}
{% block content %}
    <h1>Vote for {{ headline.title }}</h1>
    <form method="post">
        {% csrf_token %}
        {% for sub_category, nominees in grouped_nominees %}
            <h3>{{ sub_category }}</h3>
            {% for option in nominee %}
                {% if option.sub_category == sub_category %}
                    <div>
                        <input type="radio" id="option_{{ option.id }}" name="option" value="{{ option.id }}">
                        <label for="option_{{ option.id }}">{{ option.Name }}</label>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
        <button type="submit">Vote</button>
    </form>
{% endblock %}