{% extends 'base.html' %}

{% block head %}
    <title>Vote for {{ headline.title }}</title>
{% endblock %}

{% block content %}
    <h1>Vote for {{ headline.title }}</h1>
    <form method="post">
        {% csrf_token %}
        {% for sub_category, nominees in grouped_nominees %}
            <h3>{{ sub_category }}</h3>
            {% for option in nominees %}
                <div>
                    <input type="radio" id="option_{{ option.id }}" 
                           name="option_{{ sub_category }}" 
                           value="{{ option.id }}" required>
                    <label for="option_{{ option.id }}">{{ option.Name }}</label>
                </div>
            {% endfor %}
        {% endfor %}
        <button type="submit">Vote</button>
    </form>
{% endblock %}


{% comment %} {% extends 'base.html' %}
{% block head %}
    <title>Vote for {{ headline.title }}</title>
{% endblock %}
{% block content %}
    <h1>Vote for {{ headline.title }}</h1>
    <form method="post">
        {% csrf_token %}
        {% for sub_category, nominees in grouped_nominees %}
            <h3>{{ sub_category }}</h3>
            {% for option in nominees %}
                <div>
                    <input type="radio" id="option_{{ option.id }}" name="option_{{ sub_category }}" value="{{ option.id }}">
                    <label for="option_{{ option.id }}">{{ option.Name }}</label>
                </div>
            {% endfor %}
        {% endfor %}
        <button type="submit">Vote</button>
    </form>
{% endblock %} {% endcomment %}
