<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        primary: {
                            DEFAULT: '#E01305',
                            light: '#FE3B15',
                            dark: '#C01004',
                        },
                        secondary: {
                            DEFAULT: '#FA7305',
                            light: '#FB8C2C',
                            dark: '#D96204',
                        }
                    },
                    fontFamily: {
                        sans: ['Noto Sans', 'DM Sans', 'sans-serif'],
                    }
                }
            }
        }
    </script>
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    {% load django_browser_reload %}
    {% load i18n %}
    {% block head %}
    {% endblock %}
</head>
<body class="font-sans antialiased">
    {% block content %}
    {% endblock %}
    {% django_browser_reload_script %}
</body>
</html>