{% extends 'base.html' %}

{% block content %}
<a href="{% url 'voting:x6sad_dashboard' %}">
    previous page
</a>
    <h1>{{ headline.title }}</h1>
    <h2>" {{ headline.subtitle }} "</h2>
    <a href="{% url 'voting:generate_shareable_link' headline_id=headline.id %}">
        Generate Shareable Link
    </a>
  <h3>Add Votee</h3>
  {% if votee_details %}
    <ul>
        {% for votee in votee_details %}
        <li>
            <a href="{% url 'voting:votee_detail' votee.id %}">{{ votee.Name }}</a> :
            {{ votee.sub_category }}
        </li>
        {% endfor %}
    </ul>
    <p>Want to create a new Votee Detail?
    <a href="{% url 'voting:pollinfo_create' %}?headline_id={{ headline.id }}" >Add New Votee Detail</a></p>
    {% else %}
    <p>Ready to create a new Votee Detail?
    <a href="{% url 'voting:pollinfo_create' %}?headline_id={{ headline.id }}" class="button">
    Let's Start
    </a>
    {% endif %}
{% endblock %}