<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify Your Email</title>
</head>
<body>
    <div>
        <h1>Please Verify Your Email</h1>
        <p>Thank you for signing up! To complete your registration, please check your email inbox and click the verification link we've sent to you.</p>
        <p>To access the link directly, click here:
            <a href="http://{{ domain }}{% url 'userauth:email_verification' %}">http://{{ domain }}{% url 'userauth:email_verification' %}</a>
        </p>
        <p>If you don't see the email in your inbox, please check your spam or junk mail folder.</p>
        <p>Thanks,</p>
        <p>The Vault Team</p>
    </div>
</body>
</html>