{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1>Welcome, {{ account_user.nickname }}.</h1>
    {% if headlines %}
    <h2>Recent Headlines</h2>
    <ul>
        {% for headline in headlines %}
        <li>
            <a href="{% url 'voting:headline_detail' headline.id %}">{{ headline.title }}</a>
            - Created on {{ headline.creation_date }}
        </li>
        {% endfor %}
    </ul>
    <p>Want to create a new headline?
    <a href="{% url 'voting:headline_create' %}">Create New Headline</a></p>
    {% else %}
    <p>Ready to create a new headline?
    <a href="{% url 'voting:headline_create' %}" class="button">
    Let's Start
    </a>
    {% endif %}
{% endblock %}